<html>
	<head>
		<title>Cari Penduduk</title>
		<div th:replace="fragments/fragment :: links"></div>
	</head>
	<body>
		<div th:replace="fragments/fragment :: header"></div>
		<br/>
   	
		<div class="container-fluid">
			<h4 th:text="'Lihat Data Penduduk di Kelurahan ' + ${namaKelurahan} + ', Kecamatan ' + ${namaKecamatan} + ', ' + ${namaKota}"></h4>
		</div>
		<br/>
	    
		    <table class="table table-hover">
			<thead>
				<th>NIK</th>
				<th>Nama</th>
				<th>Jenis Kelamin</th>
			</thead>
			<div th:each="penduduk : ${penduduk}">
				<tr>
				<td><a th:text="${penduduk.nikPenduduk}"></a></td>
				<td><a th:text="${penduduk.namaLengkap}"></a></td>
				<td><a th:if="${penduduk.gender == false}">Pria</a>
					<a th:unless="${penduduk.gender == false}">Wanita</a></td>
				</tr>   
			</div>	
	
			</table>
	       		
		<div th:replace="fragments/fragment :: footer"></div>
	</body>
</html>
